@charset "utf-8";
/* CSS Document */

*{
	margin: 0;	
	border: none;
	outline: none;

}

html, body{
	width: 100%;
	height: 100%;	
}

#wrapper{
	width: 100%;
	height: 100%;	
	background-color: darkcyan;
}

header{	
	padding: 10px;
	background-color: aqua;	
	display: flex;
}

header input{
	padding: 10px;	
	border: solid 1px rgba(66,140,253,1.00);	
}

header button{
	padding: 10px;	
}

table{
	border: solid 1px #FFFFFF;
	background-color: antiquewhite;
	margin: 0 auto;
}

.hidden{
	display: none;
}

.show{
	display: block;
}



