*{
	margin: 0;
	padding: 0;	
}


body, html{
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

article{
	background-color: darkturquoise;
	width: 100%;
	height: 100%;	
}

#form1{
	background-color: rgba(230,229,255,0.5);
	width: 20%;
	padding: 20px;
	box-sizing: border-box;	
}

#msg{
	background-color: rgba(230,229,255,0.5);	
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	padding: 10px;
}

#msg span{
	padding: 10px;
	display: block;
}



form div{
	align-items: stretch;
}

section{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
  	justify-content: center;	
}

label{
	display: block;
}

#login{
	margin: 15px 0;
	padding: 10px 15px;
}

#sair{	
	padding: 10px;	
}

input{
	padding: 3px;	
	
}

header{
	background-color: azure;
	display: flex;
	flex-direction: row;	
}

header span{
	padding: 10px;
}
